.header{
  background-color:orchid;
  height: 100px;
  width: 100%;
  margin-bottom: 00px;
 }
 .main_section{
  background-color: burlywood;
  height: 1000px;
  width: 100%;

 }
 
 }
 .footer{
  background-color: darkgrey;
  height: 40px;
  width: 100%;
 }

 }
 .column{
  margin: 30px;
  padding: 30px;
  float: left ;
 }
 ul{
  list-style-type:none ;
  position: absolute;
 }
 li{
  float: left;
  padding-left: 100px;
  align-items: center;
  margin-left: 50px;
 }